body {
    max-height: 1000px;
    background-color: green;
}

.calculator-buttons {
    display: flex;
    width: 300px;
    height: 250px;
    background-color: red;
}

.key {
    width: 50px;
    height: 50px;
}

.buttons-1-9-operators {
    width: 250px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.buttons-final {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#eval {
    height: 160px;
    flex-shrink: 0;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    max-width: auto;
    margin: 0 150px 0 150px;
}

.calculator-display {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    margin: 20px;
}