body {
    max-height: 1000px;
}

.header {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    background-color: aqua;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: brown;
    width: 400px;
    height: 400px;
}

.calculator-display {
    background-color: yellow;
    height: 50px;
    margin: 15px 20px 15px 20px;
    display: flex;
    justify-content: flex-end;
}

p {
    background-color: red;
}

.calculator-buttons {
    background-color: orange;
    height: 305px;
    margin: 0 20px 0 20px;
    display: flex;
}

.buttons1 {
    background-color: pink;
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.buttons2 {
    background-color: blue;
    display: flex;
    flex-direction: column; 
    width: 110px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#eval {
    height: 200px;
}

.key {
    width: 50px;
    height: 50px;
}

.footer {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}