body {
    max-height: 1000px;
}

.header {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    background-color: aqua;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: brown;
    width: 400px;
    height: 400px;
}

.calculator-display {
    background-color: yellow;
    height: 50px;
    margin: 15px 20px 15px 20px;
    display: flex;
    justify-content: flex-end;
}

p {
    background-color: red;
}

.calculator-buttons {
    background-color: orange;
    height: 305px;
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-areas: 
    "clear-entry clear del add"
    "seven eight nine subtract"
    "four five six multiply"
    "one two three divide"
    "plus-minus zero decimal equal";
    gap: 5px;
}

.footer {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}